@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500|Source+Serif+Pro&subset=latin-ext');
body{
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    padding: 0;
}
pre, 
code{
    font-family: 'Source Code Pro', monospace;
}

canvas {
    display: block;
    margin: auto;
}
blockquote{
    font-style: italic;
}
img.images{
    display: block;
    margin: auto;
    border: 3px solid  #000;
    width: 75%;
    min-width: 200px;
}
/* Bare bones style for the desired effect */
pre.code {
    display: table;
    table-layout: fixed;
    width: 100%; /* anything but auto, otherwise fixed layout not guaranteed */
    white-space: pre-wrap;
}
pre.code::before {
    counter-reset: linenum;
}
pre.code span.tr {
    display: table-row;
    counter-increment: linenum;
}
pre.code span.th { /* used for line numbers */
    display: table-cell;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
pre.code span.th::before {
    content: counter(linenum);
    text-align: right;
    display: block;
}
pre.code span.th {
    width: 4em; /* or whatever the desired width of the numbers column is */
}
pre.code code {
    display: table-cell;
}

/* Additional styling demo */
pre.code {
    border: solid 1px black;
    max-width: 650px;
    margin: 80px auto;
}
pre.code span.th {
    background: #f0f0f0;
    padding: 3px;
    padding-top: 0px;
    border-right: solid 1px silver;
    border-top: solid 1px silver;
}
pre.code span.th::before {
    font-size: 90%;
    color: #999;
}
pre.code span.tr.first-row span.th {
    border-top: none;
}
pre.code code {
    padding: 3px;
}
pre.code span.e code {
    background: #f0f8ff;
}
pre.code span.th::before {
    content: counter(linenum) ".";
}
/*END OF CODE STYLING*/

.container{
    position: relative;
    display: block;
    max-width: 800px;
    margin: auto;
}
.math{
    text-align: center;
}
.footnotes{
    font-size: 75%;
}